<!-- cards start from here -->
<div class="wrapper">
    <div class="row py-4">
        <div class="col-lg-3 col-sm-4" *ngFor="let list of items;let i = index;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{list.category}}</mat-card-title>
                    <mat-card-subtitle>{{list.title}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="list.image">
                <mat-card-content>
                    <p>{{list.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">{{list.price}}</button>
                    <button mat-raised-button color="accent">{{list.rating.rate}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>