<div class="text-center">
    <legend>
        <h2>Shoppers First Choice</h2>
    </legend>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="text" name="username" class="form-control" placeholder="Enter your username" formControlName="username">
        </mat-form-field><br><br>
        <div *ngIf="f.username.errors">
            <mat-error *ngIf="f.username.errors.required">Please enter valid email id</mat-error>
        </div>
        <mat-form-field>
            <input matInput type="text" name="password" class="form-control" placeholder="Enter your password" formControlName="password">
        </mat-form-field><br><br>
        <div *ngIf="f.password.errors">
            <mat-error *ngIf="f.password.errors.required">Please enter a valid password</mat-error>
        </div>
        <button type="submit" mat-raised-button color="warn">Login</button>
    </form>

    <a routerLink="/register"><button type="submit" mat-raised-button color="success">Register yourself first</button></a>
</div>